body {
    background-color: #F4F5F5;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; /* Alterado para center */
    background: linear-gradient(#070126, #0d033f);
    padding: 20px; 
    color: #F4F5F5;
}

#logo {
    width: 95px;
}

nav {
    display: flex; 
    margin-right: 20px; 
    padding-top: 20px; /* Ajuste para melhor alinhamento */
}

nav h3 {
    display: inline;
    color: #F4F5F5;
    margin-left: 20px; 
    cursor: pointer;
    transition: transform 0.3s ease;
}

nav h3:hover {
    transform: scale(1.2);
}

main{
    flex: 1;
}

#contatar {
    text-align: center; 
    padding: 40px 0; /* Adicionei espaçamento ao redor do contatar */
}

#icones-container {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    margin-top: 20px; /* Adicionei um pouco de espaço acima */
}

.icone {
    display: flex; 
    align-items: center; /* Removi a barra extra */
    color: #070126;
}

.icone img {
    margin-right: 10px; 
    width: 50px; 
    height: auto; 
}

footer {
    background-color: #0d033f;
    color: white;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0px;
    width: 100%;
}

footer p {
    margin: 10px 0;
}

/* Animações */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
